<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klinik App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/pasien">Pasien</a>
        <a href="/dokter">Dokter</a>
        <a href="/obat">Obat</a>
        <a href="/kunjungan">Kunjungan</a>
    </nav>
<hr>
    {% block content %}{% endblock %}
</body>
</html>