{% extends 'base.html' %} {% block content %}
<h4>Data Pasien</h4>
<a href="/pasien/tambah" class="btn btn-success mb-3">+ Tambah Data</a>
<table class="table table-bordered">
  <thead class="table-primary">
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Umur</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Alamat</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    {% for p in pasien %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ p.nama }}</td>
      <td>{{ p.umur }}</td>
      <td>{{ p.gender }}</td>
      <td>{{ p.email }}</td>
      <td>{{ p.alamat }}</td>
      <td>
        <a href="/pasien/edit/{{ p.id }}" class="btn btn-warning btn-sm">✏️</a>
        <a href="/pasien/hapus/{{ p.id }}" class="btn btn-danger btn-sm">🗑️</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
